# Environment variables
.env

# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Streamlit
.streamlit/

# IDE
.vscode/
.idea/

# Logs
*.log

# Local data
data/history.json

# OS
.DS_Store
Thumbs.db